# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS metadata
.DS_Store
__MACOSX/


# Model / training artifacts
Qwen3-VL-2B-Click-NewPlan1/
UI-TARS-1.5-7B-Click-25/
*.bin
*.pt
*.pth
*.safetensors

# Archives
*.zip
*.tar
*.gz



